extends ../views/layouts/default.pug

block main
  .container.mt-4
    if user
      // Phần này sẽ được hiển thị, vì bạn đã đăng kí thành công
      h1 Chúc mừng bạn đã đăng nhập thành công, #{user.name}!
      p Bây giờ bạn sẽ được chuyển hướng đến trang userHome trong giây lát

    else
      // ---- NỘI DUNG KHI CHƯA ĐĂNG NHẬP (KHÁCH) ----
      // Phần này sẽ bị ẩn đi
      h1 Chào mừng đến với trang chủ!
      a(href="/register", class="btn btn-primary") Đăng ký
      a(href="/login", class="btn btn-success") Đăng nhập
