extends ../views/layouts/default1.pug
block main
  if user
    script.
        window.location.href = '/userHome';
  else
    //- Giao diện khi chưa đăng nhập
    .fullscreen-bg-carousel
      #imageCarousel.carousel.slide.carousel-fade(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item(data-bs-interval="4000")
            img.d-block.w-100(src="https://media.istockphoto.com/id/2196165852/vi/anh/m%E1%BB%99t-cu%E1%BB%91n-s%E1%BB%95-tay-v%E1%BB%9Bi-ch%E1%BB%AF-th%E1%BB%B1c-h%C3%A0nh-%C4%91%C6%B0%E1%BB%A3c-vi%E1%BA%BFt-ba-l%E1%BA%A7n-tr%C3%AAn-b%C3%A0n-g%E1%BB%97.jpg?s=612x612&w=0&k=20&c=IBXJ91Y7ztI3C-456XjsOPLkWhCMiLMx3Wt22fixpEU=", alt="Background 1")
          .carousel-item(data-bs-interval="4000")
            img.d-block.w-100(src="https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1172", alt="Background 2")
          .carousel-item(data-bs-interval="4000")
            img.d-block.w-100(src="https://media.istockphoto.com/id/2151138214/vi/anh/magnifying-glass-with-text-search-on-wood-cubes-find-the-answers-search-concept-wooden-cube.jpg?s=612x612&w=0&k=20&c=Pb2TmLv4h-ebu2S96e3nlZ6Un2KZWTgzCNqJTtI3MgQ=", alt="Background 3")
          .carousel-item.active(data-bs-interval="4000")
            img.d-block.w-100(src="https://media.istockphoto.com/id/1127266876/vi/anh/l%E1%BB%9Bp-h%E1%BB%8Dc-kh%C3%B4ng-c%C3%B3-ng%C6%B0%E1%BB%9Di-%E1%BB%9F-tr%C6%B0%E1%BB%9Dng-ti%E1%BB%83u-h%E1%BB%8Dc.webp?s=2048x2048&w=is&k=20&c=ewsfF8WYhVji5E0UT9_l2RzAQiqwWir6tnO--efqoC8=", alt="Background 4")
          
    .content-overlay
      .hero-text
        h1 MindTree
        p.lead Nơi trực quan hóa mọi tài liệu phức tạp chỉ với một cú nhấp chuột!