doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Đăng Nhập | MindTree
    link(rel="stylesheet", href="/css/style-login.css") 

  body.login-page
    .container
      .left-panel
        h1.logo MindTree
        h2.slogan Một hình ảnh đáng giá ngàn lời nói, và một sơ đồ tư duy có thể chứa đựng cả một thư viện ý tưởng!

      .right-panel
        .login-form
          if error_msg && error_msg.length > 0
            .alert.alert-danger= error_msg
            
          form(action="/login", method="POST")
            div
              input(type="email", name="email", placeholder="Email", required)
            div
              input(type="password", name="password", placeholder="Mật khẩu", required)
            div
              button(type="submit", class="btn-login") Đăng Nhập
        
          a(href="#", class="forgot-password") Quên mật khẩu?
          .divider
          a(href="/register", class="btn-register") Tạo tài khoản mới